<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SYSTEM_EXEMPTED"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"
        tools:ignore="ExactAlarmPolicy" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.aki.app.AkiProxyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AkiProxy">

        <receiver
            android:name="com.aki.app.receiver.ProxyCommandReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.aki.proxy.CONNECT" />
                <action android:name="com.aki.proxy.DISCONNECT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.aki.app.receiver.VpnStateReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.aki.proxy.STATE_UPDATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.aki.app.receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.aki.app.services.ProxyServices"
            android:foregroundServiceType="connectedDevice"
            android:exported="true"
            android:process=":vpn_process"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.aki.app.ui.main.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AkiProxy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>